<div class="container">
  <div class="header">
    <label> DINE SPLIT </label>
    <!-- <img src="burger.png" (click)="openDishOverlay()" /> -->
    <!-- <img src="burger.png" (click)="openDishOverlay()" /> -->
    <i class="fa-solid fa-user-plus"  (click)="addUser()"></i>
    <i class="fa-solid fa-hamburger" (click)="openDishOverlay()"></i>
    <div>
      <i class="fa-solid fa-users-gear"></i>
      <select (change)="onUserSelect($event)" [(ngModel)]="selectedUserId">
        <option value="0" selected hidden>Please select</option>
        <option *ngFor="let person of personArray" [value]="person.userId">{{ person.name }}</option>
      </select>
    </div>
   
   
  </div>
  <div class="content-container">
    <!-- <dish (itemAdded)="addItem($event)"></dish> -->
    <button class="view-button" (click)="onViewClick()" *ngIf="showView">
      VIEW DISHES
    </button>

    <div class="view-items" *ngIf="showItems">
      <div
        class="item-container"
        *ngFor="let item of itemsArray; let i = index"
      >
        <!-- <i class="fa-solid fa-plate-wheat"></i> -->
        <div class="dish-container">
          <label class="name">
            {{ item.name }}
          </label>
          <label>
            {{ item.price }}
          </label>
        </div>
        <img src="edit.png" (click)="onEdit(i)" />
        <img src="remove-from-cart.png" />
      </div>
    </div>

    <div class="add-user">
      <!-- <i class="fas fa-user-plus"></i> -->
      <img src="person.png" />

      <div class="person-container" [formGroup]="personFormGroup" *ngIf="selectedUserId > 0">
        <p>{{ personFormGroup.value | json }}</p>
        <mat-label>User</mat-label>
        <input type="text" formControlName="name" />
        <div>
          <mat-label>Add Dishes</mat-label>
          <i class="fas fa-plus" (click)="addDish()"></i>
        </div>
     

        <table mat-table formArrayName="dishes" class="mat-elevation-z8">
          <thead>
            <tr>
              <th mat-header-cell *matHeaderCellDef>Dish Name</th>
              <th mat-header-cell *matHeaderCellDef>Quantity</th>
              <th mat-header-cell *matHeaderCellDef>Serving Size</th>
              <th mat-header-cell *matHeaderCellDef>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dish of dishes.controls; let i = index" [formGroupName]="i">
              <td mat-cell>
                <mat-form-field>
                  <mat-label>Dish Name</mat-label>
                  <input matInput formControlName="name" />
                </mat-form-field>
              </td>
              <td mat-cell>
                <mat-form-field>
                  <mat-label>Quantity</mat-label>
                  <input matInput formControlName="quantity" type="number" />
                </mat-form-field>
              </td>
              <td mat-cell>
                <mat-form-field>
                  <mat-label>Serving Size</mat-label>
                  <mat-select formControlName="servingSize">
                    <mat-option value="half">Half</mat-option>
                    <mat-option value="full">Full</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td mat-cell>
                <!-- <button (click)="removeDish(i)">Remove</button> -->
              </td>
            </tr>
          </tbody>
        </table>

        <!-- <mat-form-field appearance="fill">
          <mat-select formControlName="items" multiple>
            <mat-option *ngFor="let dish of itemsArray" [value]="dish.name">
              {{ dish.name }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
        <span>
          <button (click)="addPerson()">Add</button>
        </span>
      </div>
    </div>

    <div *ngFor="let person of personArray">
      <i class="fas fa-user"></i>
      {{ person.name }}: {{ person.totalPrice }}
    </div>
  </div>

  <!-- ng add @angular/material
   npm install @fortawesome/fontawesome-free @fortawesome/angular-fontawesome -->
</div>
